@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 10px;
  transition: background 0.2s linear;
}

body.dark {
  background: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
  
}

.label {
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items:center;

  padding: 25px;
  position: relative;
  height: 35px;
  width: 110px;
  transform: scale(1.5);
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  
}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 45px;
  width: 45px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
  padding: 10px;
  
}

.checkbox:checked + .label .ball {
  transform: translateX(60px);
  
}

.label .sol { 
  width: 50px;
  padding-left: 10px;
  margin-right: 10%;
  
}

.label .lua {
  width: 45px;
  padding-left: 10px;
  margin-right: 20%;
  
}


